<!doctype html>
<html>
<head>
    <title>Agenda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        {% if agenda %}
            {% for section in agenda %}
            <h4>{{ section }}</h4>
            <ol>
                {% for item in agenda[section] %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ol>
            {% endfor %}
        {% else %}
        There is no agenda.
        {% endif %}
    </div>
</body>
</html>